<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Walchart</title>
  <link rel="stylesheet" href="/css/main.css">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
 </head>
 <body>
   <!--Div that will hold the pie chart-->
   <h1>Weekly Sales Data for Walmart</h1>
   <!-- <img src="../img/walchart.png" alt=""> -->
   <form action="">
     <input type="text" placeholder="Temperature"><br>
     <input type="text" placeholder="Fuel Price"><br>
     <input type="text" placeholder="CPI"><br>
     <input type="text" placeholder="Unemployment"><br>
     <input type="text" placeholder="Is Holiday"><br>
     <input type="text" placeholder="Type"><br>
     <input type="text" placeholder="Size"><br>
     <input type="text" placeholder="Department"><br>
    <input type="submit">
   </form>
   <div id="chart_div"></div>
 </body>
</html>
