<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Walchart</title>
  <link rel="stylesheet" href="/css/main.css">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/main.js"></script>
 </head>
 <body>
   <img src="http://i.imgur.com/qXnHvzM.png" alt="">
   <h1>Weekly Sales Data for Walmart</h1>

     <input type="text" placeholder="Temperature" id="temp"><br>
     <input type="text" placeholder="Fuel Price" id="fuel"><br>
     <input type="text" placeholder="CPI" id="cpi"><br>
     <input type="text" placeholder="Unemployment" id="unemploy"><br>
     <input type="text" placeholder="Is Holiday" id="holiday"><br>
     <input type="text" placeholder="Type" id="type"><br>
     <input type="text" placeholder="Size" id="size"><br>
     <input type="text" placeholder="Department" id="dept"><br>
    <input type="submit" id="button">

   <div id="chart_div"></div>
 </body>
</html>
