

.text_field {
  text-align: center;
}

.logo {
  height: 250px;
  width: auto;
  margin-top: -60px;
}

h1 {
  text-align: center;
  font-family: helvetica;
}

img{
  width: 300px;
  /*position: fixed;*/
  top: -10%;
}



